<p id="notice"><%= notice %></p>

<h1>Факультеты</h1>
<% if current_user.is_admin? %>
  <%= link_to 'New Faculty', new_faculty_path %>
<% end %>
<div class="container">
  <% @faculties.each do |faculty| %>
    <h2><%= faculty.name %></h2>
    <% faculty.departments.each do |department| %>

    <% end %>
  <% end %>
</div>
