<p id="notice"><%= notice %></p>

<h1>Departments</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Department Type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @departments %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_faculty_department_path %>
