<%= form_for [@lecturer, @lecturers_subject] do |form| %>
  <% if @lecturers_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lecturers_subject.errors.count, "error") %> prohibited this lecturers_subject from being saved:</h2>

      <ul>
        <% @lecturers_subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>





  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>

    $('form').on('click','.add_fields', function (e){
        var regexp, time
        time = new Date().getTime();
        regexp = new RegExp($(this).data('id'), 'g');
        $(this).before($(this).data('fields').replace(regexp, time));
        return e.preventDefault();
    })
</script>