<h1>Editing Lecturers Subject</h1>

<%= render 'form', lecturers_subject: [@lecturer,@lecturers_subject] %>

<!--<%#= link_to 'Show', @lecturers_subject %> |-->
<%#= link_to 'Back', lecturers_subjects_path %>
