<p id="notice"><%= notice %></p>

<h1>Lecturers Subjects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lecturers_subjects.each do |lecturers_subject| %>
      <tr>
        <td><%= link_to 'Show', lecturers_subject %></td>
<!--        <td><%#= link_to 'Edit', edit_lecturers_subject_path(lecturers_subject) %></td>-->
        <td><%= link_to 'Destroy', lecturers_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lecturers Subject', new_lecturers_subject_path %>
