.divShow{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  p {
    padding-left: 45%;
    font-size: 110%;
  }
  table {
    padding-left: 50%;
  }
}
.aShow {
  display: inline;
  padding-left: 45%;
}