/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.384) 100%);
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.384) 100%);
  border: 1px solid #219EBC;
  border-radius: 12px;
}

/* Firefox */
::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.384) 100%);
  border-radius: 5px;
}

::-moz-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.384) 100%);
  border: 1px solid #219EBC;
  border-radius: 12px;
}

/* Edge, IE */
::-ms-scrollbar {
  width: 10px;
}

::-ms-scrollbar-track {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.384) 100%);
  border-radius: 5px;
}

::-ms-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.384) 100%);
  border: 1px solid #219EBC;
  border-radius: 12px;
}

* {
  scrollbar-corner: none transparent;
}
