<p id="notice"><%= notice %></p>

<h1>Lecturers</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Academic Degree</th>
    <th>Subjects</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @lecturers %>
    </tbody>
</table>

<br>

<%= link_to 'New Lecturer', new_lecturer_path %>